
* {    margin: 0;
    padding: 0;}
  
body   {  background:white;}

h1 {
    color: black;
    font-family: 'Work Sans', sans-serif;
  }


  .box{
    font-family: 'Work Sans', sans-serif;
    position: absolute;
  }

  .top-left-box {
    top: 2.5%;
    left: 2.5%;
    float: left;
    position: block;
  }

  .top-right-box {
    top: 2.5%;
    right: 2.5%;
    float: right;
    position: absolute;
  }

  .bottom-left-box {
    bottom: 2.5%;
    left: 2.5%;
    float: left;
    position: absolute;
  }
  
  .bottom-right-box {
    bottom: 2.5%;
    right: 2.5%;
    float: right;
    position: absolute;
  }

  .center-box {
    font-size: 200%;  
    position: fixed;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -26.5px;
    margin-left: -202.1px;
  }







.bg {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: .25s;
  pointer-events: none;
}

li
{  list-style:none;
   }

li a
    { display:block;
      float:left;
      text-align:center;
      font-family: 'Work Sans', sans-serif;
      color:black;
      text-decoration:none;
      transition:.25s;}

li a:hover  {
      margin:-5px 0 0 0;
}


.menu li:first-child:hover ~ .bg {
  background: #FAF1C5;
}
.menu li:nth-child(2):hover ~ .bg {
  background: #bda9b3;
}
.menu li:nth-child(3):hover ~ .bg {
  background:#a9a9c7;
}
.menu li:nth-child(4):hover ~ .bg {
  background: #95b3c7;
}
.menu li:nth-child(5):hover ~ .bg {
  background: rgb(169, 169, 179);
}
    